OAEPRL/
DeerAnalysis2019/
easyspin-5.2.35/
cg-trajectories/
randomized_S2E/
7k3g_edited.pdb
7k3g.pdb
AA-oriented-0.pdb
avg_contacts
cg_bonds-v5.tcl
connect.slurm
contact.slurm
contact.tcl
contact_v1.tcl
distances.tcl
distance_z.tcl
getdepth_2.tcl
getdepth.slurm
getdepth.tcl
get_membrane_thickness.tcl
getpts.sh
getpts.tcl
getpts.tcl.save
gmx_cg_input_splice.sh
LICENSE
loop_residues.txt
make_bb_ndx.sh
md2deer.tar.gz
notebook_example_for_andrew.ipynb
pentamer-input.pdb
pentamer_L34C_S50C_full_splayed_ctd.pdb
polyala.pdb
README.md
renumber.sh
rmsd.slurm
rmsf.slurm
S2E_input_structures
S2E-processed-cg-input-1.dat
selected_positions
simple.pdb
test
update.asv
write_xyz_cogrimen.tcl
write_xyz.slurm
write_xyz.tcl
